.lay 
{
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
  font-size: 30px;
}
.layout 
{
  display: flex;
  justify-content: center;
}
.etw 
{
  margin-right: 900px;
  width: 8%;
}
.ri-id-card-line
{
  font-size: 90px;
}
.shirt 
{
  padding: 10px;
  text-align: center;
  margin: 10px;
  border: 2px solid black;
}
.shirt>img 
{
  width: 100%;
  padding: 20px;
  
}
.shirt>img:hover 
{
  transition: 2s;
  transform: scale(1.2);
}